@font-face {
    font-family: 'chawp';
    src: url('./chawp.otf') format('opentype');
}

* {
    box-sizing: border-box;
    font-family: 'chawp', 'cursive';
}

body {
    text-align: center;
}

#startButton {
    margin-top: 10px;
    margin-right: 1000px
}

#board{
    position: relative;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 275px);
    grid-column-gap: 25px;
    height: 600px;
    width: 1200px;
    background-color: #2b5204;
}

#boardBase {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: -15px;
    height: 18px;
    width: 1232px;
    background-color: #7D3B0B
}

#chalk {
    position: absolute;
    right: 55px;
    bottom: 18px;
    height: 7px;
    width: 53px;
    background-color: #FEF6F6
}

#eraser {
    position: absolute;
    left: 75px;
    bottom: 18px;
    height: 13px;
    width: 63px;
    background-color: #000000
}

#horizontal1 {
    position: absolute;
    left: 59px;
    bottom: 75px;
    height: 5px;
    width: 150px;
    background-color: #FEF6F6
}

#vertical1 {
    position: absolute;
    left: -83px;
    bottom: 292px;
    height: 5px;
    width: 434px;
    transform: rotate(90deg);
    background-color: #FEF6F6
}

#horizontal2 {
    position: absolute;
    left: 133px;
    top: 88px;
    height: 5px;
    width: 296px;
    background-color: #FEF6F6
}

#vertical2 {
    position: absolute;
    left: 389px;
    top: 124px;
    height: 5px;
    width: 76px;
    transform: rotate(90deg);
    background-color: #FEF6F6
}

#head {
    position: absolute;
    left: 389px;
    top: 164px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #FEF6F6;
    opacity: 0;
}

#torso {
    position: absolute;
    left: 361px;
    top: 303px;
    height: 5px;
    width: 133px;
    transform: rotate(90deg);
    background-color: #FEF6F6;
    opacity: 0;
}

#leftArm {
    position: absolute;
    left: 350px;
    top: 265px;
    height: 4px;
    width: 80px;
    transform: rotate(45deg);
    background-color: #FEF6F6;
    opacity: 0;
}

#rightArm {
    position: absolute;
    left: 425px;
    top: 265px;
    height: 4px;
    width: 80px;
    transform: rotate(135deg);
    background-color: #FEF6F6;
    opacity: 0;
}

#leftLeg {
    position: absolute;
    left: 350px;
    top: 405px;
    height: 4px;
    width: 80px;
    transform: rotate(-45deg);
    background-color: #FEF6F6;
    opacity: 0;
}

#rightLeg {
    position: absolute;
    left: 425px;
    top: 405px;
    height: 4px;
    width: 80px;
    transform: rotate(-135deg);
    background-color: #FEF6F6;
    opacity: 0;
}

#hangman {
    position: absolute;
    letter-spacing: 150px;
    left: 70px;
    top: 25px;
    font-size: 2rem;
    color: #FEF6F6
}

#highScore {
    position: absolute;
    right: 350px;
    top: 120px;
    color: #FEF6F6;
    min-width: 200px;
    text-align: start
}

#round {
    position: absolute;
    right: 350px;
    top: 170px;
    color: #FEF6F6;
    min-width: 200px;
    text-align: start
}

#lettersGuessed {
    position: absolute;
    right: 150px;
    top: 220px;
    color: #FEF6F6;
    min-width: 400px;
    text-align: start
}

#wordDisplay {
    position: absolute;
    right: 5px;
    top: 420px;
    font-size: 2rem;
    letter-spacing: 20px;
    color: #FEF6F6;
    width: 550px;
    text-align: start;
    overflow-wrap: break-word;
}

#bottomButtons {
    position: relative;
    left: 242px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#infoSection {
    min-width: 200px;
    text-align: start;
}
